<!DOCTYPE html>
<html>
<head>
  <title>Nirav</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<div class="container">
<%= yield %>
</div>
=======

<%= yield %>

>>>>>>> b4daedb531aeb936d9d28bc53f0dc6bda19fd0b7
</body>
</html>
